body {
    color: #fff;
    margin: 0;
    font-family: "Rubik", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

body::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.searchWrapper p {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

input {
    margin-top: 20px;
    font-size: 1.5rem;
}

.container {
    /* background-image: url(img/background.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    margin: 0 auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #3b3b3b;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 2rem;
    font-weight: bold;
}
.card-subtitle {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: normal;
}

.card-image {
    height: 180px;
}

.loading-text {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.loading-text.hide {
    display: none;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 414px) {
    #logo {
        width: 200px;
    }
    #pokedex {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-subtitle {
        font-size: 14px;
        font-weight: normal;
    }

    .card-image {
        height: 150px;
    }

    .searchWrapper p {
        font-size: 2rem;
        margin: 0;
    }

    .loading-text {
        font-size: 1.5rem;
    }
}
